.header {
  height: 4rem;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title-container {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 8vmin;
}

.header-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .header-logo {
    animation: header-logo-spin infinite 20s linear;
  }
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
